:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #4d5ae5;
  --secondary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #404bbf;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: var(--secondary-font-family-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-color {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* text-transform: uppercase; */
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/* adress */
.adress-menu {
  font-style: normal;
}
.contact-email-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* font-style: normal; */
}
.contact-email-tel:hover,
.contact-email-tel:focus {
  color: var(--accent-color);
}
/* .contact-telefon {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contact-telefon:hover,
.contact-telefon:focus {
  color: var(--accent-color);
} */
/* main */
.class-title {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-open-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #4d5ae5;
  font-family: var(--main-font-family);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  color: var(--accent-color);
  background: #404bbf;
}
/* skills */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

.section-team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.team-description {
  text-align: center;
  letter-spacing: 0.02em;
}
/* footer */

footer {
  font-family: var(--secondary-font-family-family);
  background-color: #2e2f42;
}

.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.logo-color-footer {
  color: #f4f4fd;
}
.footer-text-color {
  color: #f4f4fd;
}

/* portfolio */
.portfolio-btn-item {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  color: #ffffff;
  background: #404bbf;
}
